/* $rojo_oscuro:#772323;
$azul_oscuro:rgba(12,7,56,1);
$gris_oscuro:rgba(48,48,48,1);

$dorado:linear-gradient(90deg, rgba(214,182,97,1) 0%, rgba(119,100,78,1) 0%, rgba(220,168,66,1) 72%, rgba(249,255,204,1) 100%); */
.banner__general, .banner__quienes_somos, .banner__servicios, .banner__trabajos {
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
  position: relative;
}

.banner__general__titulo, .banner__contacto__titulo, .banner__quienes_somos__titulo, .banner__servicios__titulo, .banner__trabajos__titulo {
  z-index: 1;
  margin-bottom: 70px;
  text-align: center;
}

.banner__general__titulo h1, .banner__contacto__titulo h1, .banner__quienes_somos__titulo h1, .banner__servicios__titulo h1, .banner__trabajos__titulo h1 {
  font-size: 300%;
  width: 100%;
}

.banner__general--video, .banner__quienes_somos--video, .banner__servicios--video, .banner__trabajos--video {
  z-index: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white !important;
}

h2 {
  font-weight: 100;
  margin: 15px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
  font-weight: 100;
}

form {
  font-size: 15px;
}

select {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

input {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

button {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

textarea {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: 'Noto Sans', sans-serif !important;
  background-color: #161518;
  color: white;
}

main {
  animation: 1s ease-out 0s 1 animationMain;
}

.whatsapp_link {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

.whatsapp_link:hover {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

@keyframes animationHeader {
  0% {
    opacity: 0;
    transform: translatey(-100%);
  }
  100% {
    opacity: 100;
    transform: translatey(0);
  }
}

@keyframes animationMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes glow {
  0% {
    text-shadow: 2px 2px 2px black, 0 0 2em white, 0 0 0.1em white;
  }
  50% {
    text-shadow: 2px 2px 2px black, 0 0 2em white, 0 0 0.5em white;
  }
  100% {
    text-shadow: 2px 2px 2px black, 0 0 2em white, 0 0 0.1em white;
  }
}

@keyframes slide {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -800px;
  }
  100% {
    margin-left: -1800px;
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #303030;
}

::-webkit-scrollbar-thumb {
  background-color: #856c36;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}

.header {
  background-color: #161518;
  font-weight: 100;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #161518;
  animation: 0.5s ease-out 0s 1 animationHeader;
}

.header__logo img {
  border-radius: 100px;
  margin: 15px;
  transform: translateY(14px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}

.header__logo img:hover {
  transform: scale(103%) translateY(14px);
}

.header__links {
  font-size: 13px;
  list-style: none;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__links li {
  list-style: none;
  margin-right: 12px;
  text-align: center;
  transition: 0.5S;
  padding: 8px;
  border-radius: 5px;
}

.header__links li:hover {
  text-shadow: 2px 2px 2px black, 0 0 2em white, 0 0 0.5em white;
  background-color: #856c36;
}

.header__menubar {
  display: none;
}

.menubar__cerrar {
  display: none;
}

.nav {
  align-self: flex-end;
  display: flex;
}

.footer {
  background-color: #303030;
  display: grid;
  padding: 20px;
  font-weight: 100;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "logo site contacto redes" "logo site contacto redes" "derechos derechos derechos derechos";
  justify-items: stretch;
  gap: 10px;
  font-size: 15px;
}

.footer h4 {
  margin-bottom: 30px;
  font-size: 15px;
}

.footer__logo {
  grid-area: logo;
}

.footer__logo img {
  border-radius: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222) sepia(1);
  transition: all 0.5s;
}

.footer__logo img:hover {
  transform: translateY(-4px);
  filter: sepia(0);
}

.footer__nav {
  grid-area: site;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav ul li:hover {
  font-weight: 400;
}

.footer__contacto {
  grid-area: contacto;
}

.footer__contacto a {
  text-decoration: none;
}

.footer__contacto a:hover {
  text-decoration: underline;
}

.footer__redes {
  grid-area: redes;
  line-height: 30px;
  text-align: center;
}

.footer__redes img {
  border-radius: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  transition: 0.5s;
  filter: sepia(1);
}

.footer__redes img:hover {
  transform: translatey(-4px);
  filter: sepia(0);
}

.footer__redes--redestitulo {
  margin-top: 1rem;
}

.footer__derechos {
  grid-area: derechos;
  text-align: center;
}

.footer__derechos h6 {
  margin-top: 2rem;
  font-size: 11px;
}

.bannerinicio {
  position: absolute;
  top: 50px;
  width: 90%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: flex-end;
}

.bannerinicio_contenedor {
  width: 100%;
  height: 700px;
}

.bannerinicio_carousel {
  position: relative;
}

.bannerinicio_carousel--imagenes {
  filter: blur(2px) brightness(0.5);
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.bannerinicio__titulo {
  align-self: center;
  color: white;
  font-weight: 400;
  font-size: 270%;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.bannerinicio__titulo--tuauto {
  display: inline;
  font-size: 48px;
}

.bannerinicio__titulo--impecable {
  display: inline;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.bannerinicio__agenda--contenedor-desktop {
  opacity: 0.4;
  background: #856c36;
  width: 270px;
  height: 410px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s;
}

.bannerinicio__agenda--contenedor-desktop:hover {
  transform: scale(105%);
  opacity: 1;
}

.bannerinicio__agenda--contenedor-desktop:focus-within {
  opacity: 1;
}

.bannerinicio__agenda--contenedor-mobile {
  display: none;
  background: #856c36;
  width: 270px;
  height: 410px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s;
}

.bannerinicio__agenda--contenedor-mobile:hover {
  transform: scale(105%);
}

.bannerinicio__agenda--contenido {
  display: inline-block;
  position: relative;
  background-color: #161518;
  width: 254px;
  height: 392px;
  border-radius: 16px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bannerinicio__agenda--contenido h3 {
  color: white;
  text-align: center;
  font-weight: 400;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 100;
}

.bannerinicio__agenda--contenido form {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 5px;
  margin-left: 20px;
  color: white;
  font-weight: 100;
}

.ultimos_trabajos {
  height: 340px;
  border-radius: 15px;
  padding: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
  animation: slide infinite 15s alternate;
}

.ultimos_trabajos:hover {
  animation-play-state: paused;
}

.ultimos_trabajos ul li {
  list-style: none;
  white-space: nowrap;
}

.ultimos_trabajos ul li img {
  width: 400px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.ultimos_trabajos ul li img:hover {
  transform: scale(102%);
}

.ultimos_trabajos_enlace {
  display: inline-block;
  width: 150px;
  height: 300px;
  vertical-align: middle;
  text-align: center;
  font-weight: 100;
}

.ultimos_trabajos_contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #303030;
  background: linear-gradient(0deg, #303030 0%, #161518 100%);
}

.que_hacemos {
  padding: 15px;
  padding-top: 150px;
  background: #303030;
  background: linear-gradient(180deg, #303030 0%, #161518 100%);
}

.que_hacemos_box {
  margin-top: 150px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.que_hacemos article {
  opacity: 0.7;
  display: inline-table;
  background: #856c36;
  width: 270px;
  height: 450px;
  border-radius: 16px;
  text-align: center;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}

.que_hacemos article h4 {
  margin: 15px;
}

.que_hacemos article ul {
  list-style-image: url(../images/check.png);
  margin-left: 35px;
  text-align: left;
  font-weight: 100;
  width: 80%;
  line-height: 30px;
}

.que_hacemos article ul span {
  top: -6px;
  position: relative;
}

.que_hacemos article:hover {
  transform: scale(105%);
  opacity: 1;
}

.que_hacemos article:hover .que_hacemos__img {
  transform: scale(130%);
}

.que_hacemos__img {
  width: 100px;
  height: 100px;
  margin: 10px;
  transition: 1s;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.boton-marron {
  color: #fff;
  background-color: #856c36;
  border-color: #856c36;
}

.banner__general, .banner__quienes_somos, .banner__servicios, .banner__trabajos {
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
  position: relative;
}

.banner__general__titulo, .banner__contacto__titulo, .banner__quienes_somos__titulo, .banner__servicios__titulo, .banner__trabajos__titulo {
  z-index: 1;
  margin-bottom: 70px;
  text-align: center;
}

.banner__general__titulo h1, .banner__contacto__titulo h1, .banner__quienes_somos__titulo h1, .banner__servicios__titulo h1, .banner__trabajos__titulo h1 {
  font-size: 300%;
  width: 100%;
}

.banner__general--video, .banner__quienes_somos--video, .banner__servicios--video, .banner__trabajos--video {
  z-index: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.banner__contacto {
  background-image: url(//i.imgur.com/768dbFm.jpg);
  background-size: cover;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
  padding: 60px;
}

.banner__contacto__formulario {
  font-weight: 100;
  padding-left: 60px;
}

.mapa_y_datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  flex-wrap: wrap;
  gap: 20px;
  background: #303030;
  background: linear-gradient(0deg, #303030 0%, #161518 100%);
}

.mapa_y_datos__mapa iframe {
  border-radius: 20px;
  width: 100%;
  height: 300px;
  border: 0;
  transition: 1s;
}

.mapa_y_datos__mapa iframe:hover {
  transform: scale(105%);
}

.mapa_y_datos__datos {
  font-variant: normal;
}

.mapa_y_datos__datos--whatsapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 1s;
}

.mapa_y_datos__datos--whatsapp:hover {
  transform: scale(105%);
}

.mapa_y_datos__datos--whatsapp img {
  margin: 20px;
  width: 60px;
}

.mapa_y_datos__datos--datos {
  padding: 15px;
  line-height: 2;
}

.mapa_y_datos__datos--datos strong {
  font-weight: 100;
}

.banner__general, .banner__quienes_somos, .banner__servicios, .banner__trabajos {
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
  position: relative;
}

.banner__general__titulo, .banner__contacto__titulo, .banner__quienes_somos__titulo, .banner__servicios__titulo, .banner__trabajos__titulo {
  z-index: 1;
  margin-bottom: 70px;
  text-align: center;
}

.banner__general__titulo h1, .banner__contacto__titulo h1, .banner__quienes_somos__titulo h1, .banner__servicios__titulo h1, .banner__trabajos__titulo h1 {
  font-size: 300%;
  width: 100%;
}

.banner__general--video, .banner__quienes_somos--video, .banner__servicios--video, .banner__trabajos--video {
  z-index: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.descripcion__quienes_somos {
  margin: 30px;
  margin-top: 150px;
  padding: 30px;
  font-weight: 100;
  text-align: center;
}

.razones {
  height: auto;
  padding-top: 150px;
  padding-bottom: 70px;
}

.razones__articulo {
  opacity: 0.7;
  background-color: #856c36;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}

.razones__articulo--imagen {
  align-self: center;
  height: 100px;
  width: 100px;
  object-fit: cover;
  -webkit-filter: drop-shadow(1px 1px 1px black);
  filter: drop-shadow(1px 1px 1px black);
  transition: all 1s;
}

.razones__articulo p {
  font-weight: 100;
  font-size: smaller;
  margin-top: 10px;
}

.razones__articulo:hover {
  transform: scale(105%);
  opacity: 1;
}

.razones__articulo:hover .razones__articulo--imagen {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  transform: scale(110%);
}

.quienes_somos__presencia {
  margin-bottom: 70px;
}

.banner__general, .banner__quienes_somos, .banner__servicios, .banner__trabajos {
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
  position: relative;
}

.banner__general__titulo, .banner__contacto__titulo, .banner__quienes_somos__titulo, .banner__servicios__titulo, .banner__trabajos__titulo {
  z-index: 1;
  margin-bottom: 70px;
  text-align: center;
}

.banner__general__titulo h1, .banner__contacto__titulo h1, .banner__quienes_somos__titulo h1, .banner__servicios__titulo h1, .banner__trabajos__titulo h1 {
  font-size: 300%;
  width: 100%;
}

.banner__general--video, .banner__quienes_somos--video, .banner__servicios--video, .banner__trabajos--video {
  z-index: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.descripcion__servicios {
  margin: 30px;
  margin-top: 150px;
  padding: 30px;
  font-weight: 100;
  text-align: center;
}

.descripcion__servicios__contenedorfinal {
  background: #303030;
  background: linear-gradient(0deg, #303030 0%, #161518 100%);
}

.descripcion__servicios__contenidofinal {
  text-align: center;
  font-weight: 100;
  padding: 30px;
  padding-bottom: 80px;
}

.servicios {
  padding-top: 150px;
  padding-bottom: 150px;
}

.servicios__articulo {
  border-radius: 16px;
  border-style: none;
  padding: 10px;
  width: 70%;
  margin: 10px;
}

.servicios__articulo h3 {
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}

.servicios__articulo:hover {
  transform: scale(120%);
}

.servicios__articulo--granizo {
  background-image: url(//i.imgur.com/RV0K6Gn.jpg);
  background-size: cover;
  transition: all 1s;
}

.servicios__articulo--granizo:hover {
  background-image: url(//i.imgur.com/48TJxPn.jpg);
}

.servicios__articulo--paragolpes {
  background-image: url(//i.imgur.com/LQSmsch.jpg);
  background-size: cover;
  transition: all 1s;
}

.servicios__articulo--paragolpes:hover {
  background-image: url(//i.imgur.com/JQf497Z.jpg);
}

.servicios__articulo--accidentes {
  background-image: url(//i.imgur.com/DHfAyXL.jpg);
  background-size: cover;
  transition: all 1s;
}

.servicios__articulo--accidentes:hover {
  background-image: url(//i.imgur.com/lowNIPv.jpg);
}

.servicios__articulo--pulido {
  background-image: url(//i.imgur.com/lHBV1YV.jpg);
  background-size: cover;
  transition: all 1s;
}

.servicios__articulo--pulido:hover {
  background-image: url(//i.imgur.com/UUqKBAQ.jpg);
}

.servicios__texto {
  font-weight: 100;
}

.banner__general, .banner__quienes_somos, .banner__servicios, .banner__trabajos {
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
  position: relative;
}

.banner__general__titulo, .banner__contacto__titulo, .banner__quienes_somos__titulo, .banner__servicios__titulo, .banner__trabajos__titulo {
  z-index: 1;
  margin-bottom: 70px;
  text-align: center;
}

.banner__general__titulo h1, .banner__contacto__titulo h1, .banner__quienes_somos__titulo h1, .banner__servicios__titulo h1, .banner__trabajos__titulo h1 {
  font-size: 300%;
  width: 100%;
}

.banner__general--video, .banner__quienes_somos--video, .banner__servicios--video, .banner__trabajos--video {
  z-index: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.fotos {
  margin-top: 150px;
}

.videos {
  margin-top: 80px;
}

.videos iframe {
  width: 100%;
  height: 315px;
}

.trabajos {
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  margin-top: 90px;
  margin-bottom: 90px;
}

.trabajos_contenedor {
  display: flex;
  justify-content: center;
}

.trabajos img {
  background-color: #856c36;
  height: 180px;
  width: 270px;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}

.trabajos img:hover {
  transform: scale(110%);
}

.trabajos_borde_galeria {
  padding: 10px;
  object-fit: cover;
}

.trabajos__carrousel {
  padding: 30px;
}

.trabajos__carrousel--carrousel {
  width: 100%;
}

.trabajos__carrousel--carrousel--imagenes {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.testimonios {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #303030;
  background: linear-gradient(0deg, #303030 0%, #161518 100%);
}

.testimonios__articulo {
  background-color: darkgrey;
  border-radius: 16px;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 10px;
  transition: all 0.5s;
}

.testimonios__articulo p {
  font-weight: 100;
  font-size: smaller;
  margin-top: 10px;
}

.testimonios__articulo:hover {
  background-color: #856c36;
}

.testimonios__articulo--vermas {
  background-color: darkgray;
  transition: all 0.5s;
  border-radius: 16px;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 10px;
  height: fit-content;
  align-self: flex-end;
}

.testimonios__articulo--vermas:hover {
  background-color: #856c36;
  transform: scale(105%);
}

.testimonios__articulo--dejarcomentario {
  background-color: darkgray;
  transition: all 0.5s;
  border-radius: 16px;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 10px;
  height: fit-content;
  align-self: flex-end;
}

.testimonios__articulo--dejarcomentario:hover {
  background-color: #856c36;
  transform: scale(105%);
}

.testimonios__articulo--userimage {
  width: 50px;
}

.testimonios__articulo--starimage {
  width: 10px;
}

@media screen and (max-width: 600px) {
  .header {
    height: 120px;
  }
  .header__menubar {
    display: block;
    font-size: 40px;
    margin: 20px;
    padding: 10px;
  }
  .header__menubar span {
    color: #856c36;
  }
  .header__logo img {
    width: 70%;
    transform: translateY(10px);
  }
  .header__links {
    display: none;
  }
  .header__links li:hover {
    background-color: #161518;
  }
  #menubar {
    display: flex;
    background-color: #856c36;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right 1s;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 1rem;
  }
  #menubar:target {
    right: 0;
  }
  .menubar__cerrar {
    display: block;
    align-self: flex-end;
    transform: translateY(-2rem) scale(150%);
  }
  .footer {
    background-color: #303030;
    display: grid;
    padding: 10px;
    font-weight: 100;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "logo redes" "site contacto" "derechos derechos";
    justify-items: center;
    gap: 20px;
    font-size: smaller;
  }
  .footer__logo {
    align-self: center;
  }
  .footer__redes {
    align-self: center;
    text-align: center;
  }
  .footer__redes h4 {
    margin-bottom: 10px;
  }
  .footer__redes input {
    width: 150px;
  }
  .footer__contacto {
    text-align: center;
  }
  .footer__nav {
    text-align: center;
  }
  .bannerinicio {
    height: 80vh;
  }
  .bannerinicio_contenedor {
    height: 80vh;
  }
  .bannerinicio_carousel--imagenes {
    height: 80vh;
  }
  .bannerinicio__titulo {
    align-self: flex-end;
    text-align: center;
  }
  .bannerinicio__titulo--tuauto {
    display: inline;
    font-size: 40px;
  }
  .bannerinicio__titulo--impecable {
    display: inline;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    margin-left: 50px;
  }
  .bannerinicio__agenda--contenedor-desktop {
    display: none;
  }
  .bannerinicio__agenda--contenedor-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
  }
  .ultimos_trabajos_contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .banner__contacto {
    height: fit-content;
  }
  .banner__contacto__titulo {
    padding: 0;
    padding-top: 45vh;
    padding-bottom: 5vh;
    font-size: 90%;
  }
  .banner__contacto__formulario {
    padding: 0;
    font-size: 90%;
  }
  .form-control-lg {
    line-height: 1rem;
    min-height: 0.5px;
    padding: 1px;
    font-size: 1rem;
  }
  .mapa_y_datos {
    font-size: small;
  }
  .banner__quienes_somos {
    height: 60vh;
  }
  .banner__quienes_somos--titulo {
    font-size: 100%;
    width: 80%;
  }
  .banner__servicios {
    height: 60vh;
  }
  .banner__servicios--titulo {
    font-size: 100%;
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */