@import "extend";

.banner__contacto{
    background-image: url(../images/contact-bannerjpg.jpg);
    background-size: cover;
    justify-content: space-around;
    min-height: 70vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;

    &__titulo{
        @extend .banner__general__titulo;
        }
        padding-top: 30px;
        
   
    &__formulario{
        font-weight: 100;
        width: 480px;
        min-width: 480px;
        height: 250px;
        margin: 20px;
        font-size: smaller;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }

}


.mapa_y_datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
    background: $gris_oscuro;
    background: linear-gradient(0deg, $gris_oscuro 0%, $azul_oscuro 100%);

    &__mapa iframe{
        border-radius: 20px;
        width: 100%; 
        height:300px; 
        border: 0;
        transition: 1s;

        &:hover{
            transform: scale(105%);
        }
    }

    &__datos{
        font-variant: normal;

        &--whatsapp{
            display:flex;
            flex-direction: row;
            align-items: center;
            transition: 1s;

            &:hover{
                transform: scale(105%);
            }

            & img{
                margin: 20px;
                width: 60px;
             }
        }

        &--datos{
            padding: 15px;
            line-height: 2;

            & strong{
                font-weight: 100;
            }
        }
    
    }

}
