.footer {
    background-color: rgb(48, 48, 48);
    display: grid;
    padding: 20px;
    font-weight: 100;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "logo site contacto redes"
    "logo site contacto redes"
    "derechos derechos derechos derechos" 
    ;
    justify-items: stretch;
    gap: 10px;
    font-size: 15px;
    
    & h4{
        margin-bottom: 30px;
        font-size: 15px; 
    }
    &__logo{
        grid-area: logo;   
    
        & img{
            border-radius: 100px;
            height: 100px;
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222) sepia(1);
            transition: all 0.5s;

            &:hover{
                transform: translateY(-4px);
                filter: sepia(0);
            }
         }
    }
    &__nav{
        grid-area: site;
        & ul{
            list-style: none;       
        }
        & ul li:hover{
            font-weight: 400;
        }
        
    }

    &__contacto{
        grid-area: contacto;
    }

    &__redes{  
        grid-area: redes;
        line-height: 30px;
        text-align: center;

        & img{
            border-radius: 100px;
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
            transition: 0.5s;
            filter: sepia(1);

            &:hover{
                transform: translatey(-4px);
                filter: sepia(0);
            }
            }
        
        &--redestitulo{
            margin-top: 1rem; 
        }
    
    }

    &__derechos {
        grid-area: derechos;
        text-align: center;

        & h6{
            margin-top: 2rem;
            font-size: 11px;
        }
        
    }

}
