
.bannerinicio{
    position: absolute;
    top: 50px;
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: flex-end;
 

        &_contenedor{
            width: 100%;
            height: 700px;
        
        }
    
        &_carousel{
            position: relative;
       
            &--imagenes{
                filter: blur(2px) brightness(0.5);
                width: 100%;
                height: 700px;
                object-fit: cover;
                object-position: center;
                overflow: hidden;
                
            }
       
        }

        &__titulo{
            align-self:center;
            color: white;
            font-weight: 400;
            font-size: 270%;
            margin-right: 30px;
            margin-left: 20px;
            margin-bottom: 50px;
            animation-name: glow;
            animation-duration: 5s;
            animation-iteration-count: infinite;

            &--tuauto{ 
                display: inline;
                font-size: 48px;      

            }    
            &--impecable{
                display: inline;
                font-family: 'Great Vibes', cursive;
                font-size: 80px;
                -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	            animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

            }
            
        }

        &__agenda{
        
            &--contenedor-desktop{
    
            
            background: $rojo_oscuro;
            width: 270px;
            height: 410px;
            border-radius: 16px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 1s;

            &:hover{

                transform: scale(105%);
            }
        }
            &--contenedor-mobile{
    
                display: none;
                background: $rojo_oscuro;
                width: 270px;
                height: 410px;
                border-radius: 16px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: all 1s;
    
                &:hover{
    
                    transform: scale(105%);
                }
        }

        &--contenido {
            display: inline-block;
            position: relative;
            background-color: $azul_oscuro;
            width: 254px;
            height: 392px;
            border-radius: 16px;
            margin: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
            &  h3 {
                color: white;
                text-align: center;
                font-weight: 400;
                margin: 20px;
                text-transform: uppercase;
                font-weight: 100;
            }

            & form {
                display: flex;
                flex-direction: column;
                width: 85%;
                margin-top: 5px;
                margin-left: 20px;
                color: white;
                font-weight: 100;
            
            }
        }

    }

}


.ultimos_trabajos{
    height: 340px;
    border-radius: 15px;
    padding: 1rem;  
    overflow-y: hidden;
    overflow-x: hidden;
    animation: slide infinite 15s alternate;

    &:hover {
        animation-play-state: paused;
    }
    
    & ul li{
        list-style: none;
        white-space: nowrap;
            
        & img{
        
            width: 400px;
            height: 300px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.5s;

            &:hover{
        
                transform: scale(102%);
                
            }
        
        }   
    }

    &_enlace{
        display: inline-block;
        width: 150px;
        height: 300px;
        vertical-align: middle;
        text-align: center;
        font-weight: 100;
    }

    &_contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: $gris_oscuro;
        background: linear-gradient(0deg, $gris_oscuro 0%, $azul_oscuro 100%);
    }
}



.que_hacemos{
    padding: 15px;
    padding-top: 150px;
    background: $gris_oscuro;
    background: linear-gradient(180deg, $gris_oscuro 0%, $azul_oscuro 100%);
    
    &_box{
        margin-top: 150px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }

    & article{
    
        opacity: 0.7;
        display: inline-table;
        background: $rojo_oscuro;
        width: 270px;
        height: 450px;
        border-radius: 16px;
        text-align: center;
        padding: 15px;
        margin: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;

        & h4{
            margin: 15px;
        }

        & ul{
            list-style-image: url(../images/check.png);
            margin-left: 35px;
            text-align: left;
            font-weight: 100;
            width: 80%;
            line-height: 30px;
            
             & span{
                top: -6px;
                position: relative; 
             }

            }

       
        &:hover{
            transform: scale(105%);
            opacity: 1;

            & .que_hacemos__img{
                transform: scale(130%);
            }
        }

    }
    
    &__img {
  
        width: 100px;
       height: 100px;
       margin: 10px;
       transition: 1s;
       -webkit-filter: drop-shadow(5px 5px 5px #222);
       filter: drop-shadow(5px 5px 5px #222);
    }

}

.boton-marron{
  
    color: #fff;
    background-color: $rojo_oscuro;
    border-color: $rojo_oscuro;
    

}