@media screen and (max-width: 600px) {
    .header{
        height: 120px;

        &__menubar{
            display: block;
            font-size: 40px;
            margin: 20px;
            padding: 10px;
       

            & span{
                color: $rojo_oscuro;
            }
        }

        &__logo img{
            width: 70%;
            transform: translateY(10px);
        }

        &__links {
            display: none;
            
            & li{
                &:hover{
                    background-color: $azul_oscuro;
                }
            }
        }
    }

    #menubar{
        display: flex;
        background-color:$rojo_oscuro;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: right 1s;
        flex-direction: column;
        height: 100%; 
        justify-content: center;
        gap: 1rem;

        &:target{
            right: 0;
        }        
}

.menubar__cerrar{
    display: block;
    align-self: flex-end;
    transform:translateY(-2rem) scale(150%);
}

.footer {
    background-color: rgb(48, 48, 48);
    display: grid;
     padding: 10px;
    font-weight: 100;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "logo redes"
    "site contacto"
    "derechos derechos" 
    ;
    justify-items: center;
    gap: 20px;
    font-size: smaller;
    
    &__logo{
        align-self: center;
    }
    &__redes{
        align-self: center;
        text-align: center;

        & h4{
            margin-bottom: 10px;
        }
        & input{
            width: 150px;
        }
    }
    &__contacto{
        text-align: center;
    }
    &__nav{
        text-align: center;
    }
 
}

@mixin bannerinicioalto ($alto) {
    height: $alto;
}

.bannerinicio{
    @include bannerinicioalto(80vh);

    &_contenedor{
        @include bannerinicioalto(80vh);
    }

    &_carousel--imagenes{
        @include bannerinicioalto(80vh);
    }

    &__titulo{
        align-self: flex-end;
        text-align: center;

    &--tuauto{ 
        display: inline; 
        font-size: 40px;              
        }    
    &--impecable{
        display: inline;
        font-family: 'Great Vibes', cursive;
        font-size: 70px;
        margin-left: 50px;
        }
    }
    &__agenda{
        &--contenedor-desktop{
            display: none;

        }
        &--contenedor-mobile{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 150px;

        }

    }
   
}

.ultimos_trabajos_contenedor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
 
.banner__contacto{
    height: fit-content;

    &__titulo{
        padding: 0;
        padding-top: 45vh;
        padding-bottom: 5vh;
        font-size: 90%;
      
       
    }

    &__formulario{
        padding: 0;
        font-size: 90%;
      
    }

}

.form-control-lg{
    line-height: 1rem;
    min-height: 0.5px;
    padding: 1px;
    font-size: 1rem;

}

.mapa_y_datos{
    font-size: small;
}


.banner__quienes_somos{
     height: 60vh; 

     &--titulo{
        font-size: 100%;
        width: 80%;
        
    }
}

.banner__servicios{
    height: 60vh;

    &--titulo{
        font-size: 100%;
        width: 80%;
    }
}

}
