.banner__quienes_somos{
    background-image:url(../images/quienes_somos/banner.jfif);
    background-size: cover;
    background-position: center;
    background-position-y:top;
    padding: 10px;
    min-height: 400px;
    display: flex;
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;

    &--titulo{
        font-size: 110%;
        align-self: flex-start;
        width: 40%;
        margin-left: 10%;
        line-height: 1.9;
    }
}

.razones{
    height: auto;
    padding-top: 50px;
    padding-bottom: 150px;
    background: rgb(48,48,48);
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(12,7,56,1) 100%);
    
    &__articulo{
        background-color: $rojo_oscuro;
        border-radius: 16px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;

        &--imagen{
            align-self: center;
            height: 100px;
            width: 100px;
            object-fit: cover;
            -webkit-filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
            filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
            transition: all 1s;
        }

        & p{
            font-weight: 100;
            font-size: smaller;
            margin-top: 10px;
        }

        &:hover{
            background-color: #a14242;
            transform: scale(105%);

            & .razones__articulo--imagen{
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(5px 5px 5px #222);
                transform: scale(110%);
            }
        
        }
        

    }

}

