.banner__servicios{
    background-image:url(../images/servicios/banner.jpg);
    background-size: cover;
    padding: 10px;
    min-height: 400px;
    display: flex;
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;

    &--titulo{
        font-size: 110%;
        align-self: flex-start;
        width: 40%;
        margin-left: 10%;
        line-height: 1.9;
    }
}

.servicios{
    padding-top: 50px;
    padding-bottom: 150px;
    background: rgb(48,48,48);
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(12,7,56,1) 100%);

    &__articulo{
        border-radius: 16px;
        border-style: none;
        padding: 10px;
        width: 70%;
        margin: 10px;

        & h3{
            text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
        }

        &:hover{
            transform: scale(120%);
        }

        &--granizo{
    
            background-image: url(../images/servicios/granizo.jpg);
            background-size: cover;
            transition: all 1s;
        
            &:hover{
                background-image: url(../images/servicios/granizo2.jpg);
            }
        }

        &--paragolpes{
            background-image: url(../images/servicios/paragolpes.jpg);
            background-size: cover;
            transition: all 1s;

            &:hover{
                background-image: url(../images/servicios/paragolpes2.jpg);
            
            }
        
        }

        &--accidentes{
            background-image: url(../images/servicios/accidentes.jpg);
            background-size: cover;
            transition: all 1s;

            &:hover{
                background-image: url(../images/servicios/accidentes2.jpg);
                
            }
            
        }

        &--pulido{
            background-image: url(../images/servicios/pulido.jpg);
            background-size: cover;
            transition: all 1s;

            &:hover{
                background-image: url(../images/servicios/pulido2.jpg);
            }
            
        }
        
    }
}
