$rojo_oscuro:#856c36;
$azul_oscuro:rgb(22, 21, 24);
$gris_oscuro:rgba(48,48,48,1);

$dorado:linear-gradient(90deg, rgba(214,182,97,1) 0%, rgba(119,100,78,1) 0%, rgba(220,168,66,1) 72%, rgba(249,255,204,1) 100%);

/* $rojo_oscuro:#772323;
$azul_oscuro:rgba(12,7,56,1);
$gris_oscuro:rgba(48,48,48,1);

$dorado:linear-gradient(90deg, rgba(214,182,97,1) 0%, rgba(119,100,78,1) 0%, rgba(220,168,66,1) 72%, rgba(249,255,204,1) 100%); */